body {
    font-family: 'Indie Flower', cursive;
}

.nav {
    background-color: #ffffff;
    color: #CD6155;
    list-style: none;
    text-align: right;
    padding: 20px 0 20px 0;
}

    .nav > li {
        display: inline-block;
        padding: 0 25px 0 25px;
        font-size: 20px;
    }

        .nav > li > a {
            text-decoration-style: none;
            color: #D98880;
        }

#nav > li > a:hover {
    color: #CD6155;
}

.logo > a {
    color: #CD6155;
    float: left;
    padding: 20px 25px 20px 25px;
    font-size: 20px;
    font-weight: bold;
    text-decoration-style: none;
}

.banner {
    width: 100%;
    display: block;
    color: #CD6155;
    position: relative
}

    .banner > .h1 {
        font-size: 55px;
        color: #CD6155;
        padding-left: 6.5%;
        padding-top: 8.5%;
        position: absolute;
        font-weight: bolder;
        z-index: 1000;
    }

    .banner > .banner-image {
        width: 100%;
        height: 350px;
        display: block;
        opacity: 0.3;
    }

#welcome {
    margin: 20px;
    text-align: center;
    font-size: 50px;
    border: 10px;
    border-color: tomato;
    border-style: dotted;
}

p, #hello {
    margin: 20px;
    text-align: center;
    font-size: 30px;
   
}

#contact {
    margin: 20px;
    text-align: center;
    font-size: 50px;
    color: tomato;
 }

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;

}
