body {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}

.nav {
    background-color: #ffffff;
    color: #CD6155;
    list-style: none;
    text-align: right;
    padding: 20px 0 20px 0;
}

    .nav > li {
        display: inline-block;
        padding: 0 25px 0 25px;
        font-size: 20px;
    }

        .nav > li > a {
            text-decoration-style: none;
            color: #D98880;
        }

            .nav > li > a:hover {
                color: #CD6155;
            }

.logo {
    color: #CD6155;
    float: left;
    padding-left: 25px;
    font-size: 35px;
    font-weight: bold;
}

    .logo > a {
        text-decoration-style: none;
        color: #CD6155;
    }

.banner {
    width: 100%;
    display: block;
    color: #CD6155;
    position: relative
}

    .banner > .h1 {
        font-size: 70px;
        color: #CD6155;
        padding-left: 10%;
        padding-top: 5%;
        position: absolute;
        font-weight: bolder;
        z-index: 1000;
    }

    .banner > .banner-image {
        width: 100%;
        height: 350px;
        display: block;
        opacity: 0.3;
    }

p {
    margin: 20px;
    text-align: center;
    font-size: 50px;
}

p2 {
    margin: 20px;
    text-align: center;
    font-size: 50px;
    color: tomato;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
