body {
    font-family: 'Josefin Slab', serif;
}

.nav {
    background-color: #ffffff;
    color: #CD6155;
    list-style: none;
    text-align: right;
    padding: 20px 0 20px 0;
}

    .nav > li {
        display: inline-block;
        padding: 0 25px 0 25px;
        font-size: 20px;
    }

        .nav > li > a {
            text-decoration-style: none;
            color: #D98880;
        }

#nav > li > a:hover {
    color: #CD6155;
}

.logo > a {
    color: #CD6155;
    float: left;
    padding: 20px 25px 20px 25px;
    font-size: 20px;
    font-weight: bold;
    text-decoration-style: none;
}


.test {
    width: 100%;
    color: #CD6155;
    position: relative;
    background: #ffffff url('img/mountain.jpg') no-repeat center top;
    background-size: 100% auto;
    min-height: 450px;
}

h1 {
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    animation-duration: 20s;
    padding-top: 200px;
    text-shadow: 0px 1px 6.9px rgba(21,11,11,1);
}

#home {
    margin: 20px;
    text-align: center;
    font-size: 50px;
    border: 10px;
    border-color: tomato;
    border-style: dotted;
}

p, #hello {
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

#work {
    page-break-after: always;
    text-align: center;
    font-size: 40px;
    border-bottom: dashed;
    border-bottom-color: lightgray;
}

    #work h2 {
        color: tomato;
        align-content: center;
    }

#set {
    text-align: center;
}

.projects {
    height: 300px;
    display: inline;
}

    .projects img {
        width: 300px;
        height: 300px;
        display: inline;
    }

        .projects img:hover {
            transform: scale(1.2);
        }

.textForProjects h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#contact {
    margin: 20px;
    text-align: center;
    font-size: 50px;
    color: tomato;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
